.button {
  width: 42%;
  max-width: 400px;
  height: 65px;
  max-height: 200px;
  font-size: 28px;
  font-weight: bold;
  color: White;
  border: none;
  opacity: 100%;
  cursor: pointer;
  transition: all 1s ease;

  &:active {
    //   opacity: 30%;
    background-color: white;
    transition: all 0.1s ease;
  }
} // end button

//^ Utility color classes

.red {
  background-color: red;
}

.purple {
  background-color: purple;
}

.blue {
  background-color: blue;
}

.teal {
  background-color: teal;
}

.green {
  background-color: green;
}

.yellow {
  background-color: rgb(192, 192, 2);
}

.orange {
  background-color: orange;
}

.orange-red {
  background-color: orangered;
}
