.App {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  //^ background color should have opacity lower than 100
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.1s ease;
  //   border: 2px solid red;
}

.sampler-outer-wrapper,
.sampler-inner-wrapper {
  display: flex;
  // flex-wrap: wrap;
  //   flex-direction: column;
}

.sampler-outer-wrapper {
  justify-content: center;
  align-items: center;
  //   margin-bottom: 20px;
  width: 100%;
  max-width: 1000px;
  height: fit-content;
  //   outline: 2px solid red;

  .sampler-inner-wrapper {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 80%;
    height: 95%;
    // outline: 2px solid blue;

    .punk-img {
      width: 87%;
    }
  } // end inner wrapper
} // end outer wrapper

.delete {
  color: hsla(0, 100%, 50%, 0.194);
}
